
/* about & application */
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
    height: 100%;
    line-height: 1.8;
}

.w3-bar .w3-button {
    padding: 16px;
}

/* Full height image header - home page */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("https://s1.1zoom.me/b5050/321/Bears_Polar_bears_Cubs_Three_3_Ice_Glance_525409_3840x2400.jpg");
    min-height: 100%;
}


/* Full height image header - result page */
.bgimg-2 {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://images.dailyhive.com/20191206124544/shutterstock_104815631.jpg");
    background-attachment: fixed;
    background-size: cover;
}


/* Set a style for all buttons */
button {
    background-color: rgb(240, 239, 215);
    color: rgb(14, 1, 1);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    }

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
    }

/* Add padding to containers */
.container {
    padding: 16px;
    }


/* Change styles for span and sign up button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
        display: block;
        float: none;
    }
    
    }


/* Set a style for all buttons */
button {
    background-color:rgb(240, 239, 215);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    }

button:hover {
opacity:1;
    }

    /* Add padding to container elements */
.container {
    padding: 16px;
    }

    .slidecontainer {
        width: 100%;
    }
      
    .slider:hover {
        opacity: 1;
    }
      
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }
      
    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }
      



