{% extends "layout.html"%}
{% block title %} 
Home Page
{% endblock %}
<!-- link to codereb -->

{%block body%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
<br><br><br>
<body>
    <span>Choose a Table</span>
    <div class="data">
        <select id="selDataset"></select>
    </div>
    <br><br><br>
    <div>
        <table class= "table table-striped">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</body>




<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="{{ url_for('static', filename='js/data.js') }}"></script>
{%endblock %}