{% extends "layout.html"%}
{% block title %} 
Home Page
{% endblock %}
<!-- link to codereb -->

{%block body%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
<br><br><br>
<span style="padding-left:50px;font-size: 30px;">Choose a Table</span>
<br>
<div style="padding-left:50px" class="data">
    <select id="selDataset"></select>
</div>
<div style="padding:50px" >
    <table class= "table table-striped">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="{{ url_for('static', filename='js/data.js') }}"></script>
{%endblock %}