<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="{{url_for('index')}}" class="w3-bar-item w3-button w3-wide">POLAR BEARS</a>
    <!-- navbar links -->
    <div class="w3-right w3-hide-small">
        <a href="{{url_for('about')}}" class="w3-bar-item w3-button">ABOUT</a>
        <a href="{{url_for('machine_learning')}}" class="w3-bar-item w3-button">MACHINE LEARNING</a>
        <a href="{{url_for('map')}}" class="w3-bar-item w3-button">MAP</a>
        <a href="{{url_for('graph')}}" class="w3-bar-item w3-button">GRAPH</a>
        <a href="{{url_for('result')}}" class="w3-bar-item w3-button">RESULT</a>
        <a href="{{url_for('data')}}" class="w3-bar-item w3-button">DATA</a>
      </div>
    <!-- Adjustable right-floated links on small screens-->
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
    <!-- sidebar menu links -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
        <a href="{{url_for('about')}}" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
        <a href="{{url_for('machine_learning')}}" onclick="w3_close()" class="w3-bar-item w3-button">MACHINE LEARNING</a>
        <a href="{{url_for('map')}}" onclick="w3_close()" class="w3-bar-item w3-button">MAP</a>
        <a href="{{url_for('graph')}}" onclick="w3_close()" class="w3-bar-item w3-button">GRAPH</a>
        <a href="{{url_for('result')}}" onclick="w3_close()" class="w3-bar-item w3-button">RESULT</a>
        <a href="{{url_for('data')}}" onclick="w3_close()" class="w3-bar-item w3-button">DATA</a>
    </nav>
<script>
  // Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>
   {%block body%}
   
   {%endblock %}
</body>
</html>