{% extends "layout.html"%}
{% block title %} 
Home Page
{% endblock %}

{%block body%}
<br>
<br>
<h1>Operation Polarbear</h1>
<div id=colab1>
<script src="https://gist.github.com/CodeReber/36410a7c8405140bebda520045a501a7.js"></script>
</div>
<h1>Den ML</h1>
<div id=colab2>
<script src="https://gist.github.com/CodeReber/5f83388566e151d3af6675addd12df94.js"></script>
</div>
<h1>Den Location</h1>
<div id=colab3>
<script src="https://gist.github.com/CodeReber/2f06a3018caffb21a4b812d63acc6ed2.js"></script>
</div>
{%endblock %}